{{ partial "head.html" . }}

{{ "<!-- navigation -->" | safeHTML }}
<header class="hero-section overlay bg-cover banner" data-background="{{ .Site.Params.banner.image | absURL }}" style="height: 50px">
  <!--  <header class="shadow-bottom position-relative"> -->
    <div class="container">
    {{ partial "navigation.html" . }}
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}

<section class="elements pt-5 bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}