{{ partial "head.html" . }}

{{ "<!-- navigation -->" | safeHTML }}
<header class="hero-section overlay bg-cover banner" data-background="{{ .Site.Params.banner.image | absURL }}" style="height: 50px">
<!--  <header class="shadow-bottom position-relative"> -->
  <div class="container">
    {{ partial "navigation.html" . }}
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ "<!-- faq -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
       <h2 class="section-title text-primary">{{ .Params.Title }}</h2>
        {{ "<!-- accordion -->" | safeHTML }}
        <div id="accordion">
          {{ range $data.faq.faqItem }}
          {{ "<!-- accordion item -->" | safeHTML }}
          <div class="card mb-4 rounded-0 shadow border-0">
            <div class="card-header rounded-0 bg-white border p-0 border-0">
              <a class="card-link h4 d-flex tex-dark mb-0 py-3 px-4 justify-content-between" data-toggle="collapse" href="#{{ .ID }}">
                <span>{{ .title }}</span> <i class="ti-plus text-primary text-right"></i>
              </a>
            </div>
            <div id="{{ .ID }}" class="collapse" data-parent="#accordion">
              <div class="card-body font-secondary text-color">{{ .content }}</div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /faq -->" | safeHTML }}

{{ partial "footer.html" . }}