{{ partial "head.html" . }}

{{ "<!-- navigation -->" | safeHTML }}
<header class="hero-section overlay bg-cover banner" data-background="{{ .Site.Params.banner.image | absURL }}" style="height: 50px">
  <!--  <header class="shadow-bottom position-relative"> -->
    <div class="container">
    {{ partial "navigation.html" . }}
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}

{{ "<!-- contact -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
       {{ with .Site.Params.contact.title }} <h2 class="section-title text-primary">{{ . }}</h2> {{ end }}
       {{ with .Site.Params.contact.content }} <p>{{ . | safeHTML }}</p> {{ end }}
        <form action="#">
          <input type="text" id="name" name="name" placeholder="Name" class="form-control mb-4 rounded-0">
          <input type="email" id="mail" name="mail" placeholder="Email" class="form-control mb-4 rounded-0">
          <input type="text" id="subject" name="subject" placeholder="Subject" class="form-control mb-4 rounded-0">
          <textarea name="message" id="message" placeholder="Message" class="form-control mb-4 rounded-0"></textarea>
          <button type="submit" value="send" class="btn btn-primary">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /contact -->" | safeHTML }}

{{ partial "footer.html" . }}